:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    /* padding: 10px; */
}
.top{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary);
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 25px;
    z-index: 999;
    cursor: pointer;
    color: var(--dark);
    display: none;
}

.top:hover{
    background-color: var(--dark);
    color: var(--primary);
    transition: 0.5s;
}
.top-container{
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 0 100%);
    background-color: var(--dark);
    padding: 10px 2%;
    padding-bottom: 70px;
    display: grid;
    /* grid-template-rows: auto; */
    grid-gap:20px;
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 2.5fr 1.5fr;
    background-color: var(--dark);
    position: sticky;
    top: 0px;
    z-index: 1000;
}
.nav-img{
    width: 100%;
    padding: 10px;
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.nav-img>img{
    width: 60%;
    border: 2px solid white;
    border-radius: 50%;
    justify-self: end;
    align-self: center;
}

.nav-img span{
    color: white;
    padding-left: 5px;
    justify-self: start;
    align-self: center;
}
.navbar>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
}
.navbar>ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    letter-spacing: 1.2px;
}
.navbar>ul li a:hover{
    color: var(--primary);
    font-size: 19px;
}

.btn-div{
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    /* display: grid;
    justify-items: center; */
}
.btn{
    width: 40%;
    margin: 0 30%;
    outline: none;
    border: none;
    background-color: var(--primary);
    color: black;
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    font-size: 15px;
    color: var(--primary);
    transition:0.5s;
}
.nav-img1{
    display: none;
}

.menu{
    display: none;
}
.menu-items{
    display: none;
    width: 100%;
    /* padding: 0 14%; */
    background-color: var(--pure);
}
.menu-items>ul{
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu-items>ul li{
    display: grid;
    align-items: center;
    padding: 0;
}
.menu-items>ul li a{
    text-decoration: none;
    color: var(--dark);
    font-size: 17px;
    letter-spacing: 1.2px;
    padding: 5px 14%;
}
.menu-items>ul li a:hover{
    color: var(--primary);
    font-size: 19px;
    
}
.header{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-gap:15px;
}
.main-img{
    padding: 40px 0;
    display: grid;
}
.main-img img{
    width: 40%;
    place-self: center;
}
.header-right{
    padding: 40px 0;
}
.welcome-world{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 14px;
    padding-top: 50px;
    color: white;
}
.header-right>h1{
    font-size: 44px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--primary);
}
.single-a{
    font-size: 17px;
    font-weight: 600;
    padding-right: 7px;
    color: white;
}
.developer,.ui,.coder{
    font-size: 17px;
    font-weight: 600; 
    padding: 0 5px;
    background-color: white;  
}
.head-content{
    color: white;
    padding-top: 30px;
    padding-right: 100px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}
.btn-dload{
    margin-top: 30px;
    padding: 15px 20px;
    border: 1px solid var(--primary);
    outline: none;
    background-color: var(--dark);
    color: var(--primary);
}
.btn-dload:hover{
    background-color: var(--light);
    font-size: 14px;
    font-weight: 700;
    transition: 0.5s;
}
.welcome-world1{
    display: none;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 14px;
    padding-top: 20px;
    color: white;
}
.about-me-container{
    padding: 100px;
    background-color: var(--pure);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap:15px;
  
}
.about-me-img{
    width: 80%;
    background: url(../images/wallpaper1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-self: center;
    /* place-self: center; */
    /* padding-top: 80px; */
    /* height: 400px; */
   
}
.about-me-img img{
    width: 50%;
    align-self: end;
    justify-self: center;
}
.about-me{
    /* padding-top: 50px; */
    
}
.about-me-heading{
    color: var(--primary);
}
.about-me p{
    padding-right: 100px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}
.social{
    width: 23%;
    display: grid;
    /* grid-gap:5px; */
    grid-template-columns: repeat(3,auto);
    padding: 0;
}
.fb,.ig,.ld{
    clip-path: circle(35% at 50% 50%);
    padding: 7px;
    text-align: center;
    background-color: var(--primary);
    color: white;
    font-size: 16px;
}
.fb:hover, .ig:hover, .ld:hover{
    background-color: var(--dark);
    cursor: pointer;
}
.portfolio{
    background-color: var(--light);
    margin: 0;
    padding: 40px 5% 50px 5%;
    box-shadow: 0 8px 30px 30px gainsboro;
    width: 100%;
}
.portfolio-heading, .resume-heading, .contact-heading{
    color: var(--primary);
    text-align: center;
    margin-bottom: 0;
}
.portfolio h2, .resume-outer h2, .contact-div h2{
    text-align: center;
    margin-top: 0;
}
.pf-outer{
    padding: 50px 10px 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: auto auto auto; */
    column-gap:20px;
    row-gap: 75px;
}
.pf{
    padding: 10px 20px;
    background-color: var(--pure);
    position: relative;
    user-select: none;
    /* box-shadow: 10px 10px 10px 10px var(--light); */
}
.font-div{
    width: 25%;
    background-color: var(--primary);
    padding: 10px 0;
    font-size: 30px;
    text-align: center;
    position: absolute;
    left: 37%;
    top: -34px;
}
.pf h3{
    margin-top: 45px;
    text-align: center;
}
.pf p{
    text-align: center;
    color: rgb(90, 85, 85)
}
.pf h2{
    margin: 0;
    color: var(--primary);
    visibility: hidden;
}
.pf:hover{
    background-color: var(--dark);
    color: var(--pure);
    transition: 0.8s;
}
.pf:hover p{
    color: var(--pure);
    transition: 0.8s;
}
.pf:hover h2{
   visibility: visible;
    transition: 0.8s;
}
.freelancer-div{
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 80%, 0 100%);
    /* background-color: var(--dark); */
    background: url("../images/freelance.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0 100px 0;
    text-align: center;
    color: var(--pure);
}
.freelancer-div h1{
    font-weight: 600;
    color: var(--primary);
}
.freelancer-div h3{
    font-weight: 500;
}
.fl-button-div{
    width: 80%;
    margin-left: 10%;
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
}
.fl-btn1, .fl-btn2{
    padding: 15px 30px;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.fl-btn1{
    border: none;
    background-color: var(--primary);
    
}
.fl-btn2{
    border: 2px solid var(--primary);
    color: var(--primary);
    background: none;
}
.fl-btn1:hover{
    background-color: var(--pure);
    color: var(--primary);
    font-weight: 700;
    transition: 0.8s;
}
.fl-btn2:hover{
    background-color: var(--pure);
    color: var(--dark);
    font-weight: 700;
    border: 2px solid black;
    transition: 0.8s;
}
.resume-outer{
    padding: 80px 80px 30px 80px;
    background-color: var(--pure);
}
.resume-main{
    padding: 30px 1%;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-gap:40px;
    /* grid-template-rows: auto auto; */
}
.resume-topic{
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(248, 245, 245, 0);
}
.edu, .skill, .exp, .cert{
    padding: 30px 0;
    box-shadow: 7px 12px 10px 0px var(--primary);
    text-align: center;
    font-size: 21px;
    cursor: pointer;
}
.edu i, .skill i, .exp i, .cert i{
    visibility: hidden;
}

.edu:hover, .skill:hover, .exp:hover, .cert:hover{
    background-color: var(--dark);
    color: var(--pure);
    cursor: pointer;
    transition: 1s;
}
.edu:hover i, .skill:hover i, .exp:hover i, .cert:hover i{
    visibility: visible;
    transition: 0.5s;
}
.resume-content{
    background-color: rgba(248, 245, 245, 0);
    box-shadow: 7px 12px 10px 0px var(--ternary);
}
.edu-content{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: auto; */
}
.edu1, .edu2, .edu3{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    box-shadow: 0 -5px 10px 0px var(--ternary);
    background-color: var(--light);
    
}
.ssc,.hsc,.ug, .edu-font{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: rgb(77, 76, 76);
    color: var(--pure);
}
.ssc-con, .hsc-con, .ug-con{
    padding-top: 20px;
    padding-bottom: 5px;
    padding: 20px 10px 5px 10px;
}
.ssc-con h3, .hsc-con h3, .ug-con h3{
    text-align: center;
    margin: 0;
}
.ssc-con h2, .hsc-con h2, .ug-con h2{
    text-align: center;
    margin: 0;
}
.ssc-con p, .hsc-con p, .ug-con p{
    text-align: center;
    margin: 0;
}
.ssc-con hr, .hsc-con hr, .ug-con hr{
    width: 60%;
    margin-left: 20%;
}
.edu1:hover .ssc, .edu1:hover .edu-font, .edu2:hover .hsc, .edu2:hover .edu-font, .edu3:hover .ug, .edu3:hover .edu-font{
    color: var(--primary);
}
.edu1:hover, .edu2:hover, .edu3:hover{
    background-color: var(--primary);
    color: var(--pure);
    transition: 0.5s;
}
.skill-content{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    background-color: var(--light);
}
.tech, .soft{
    padding: 10px 15px;
    box-shadow: 7px 12px 10px 0px var(--ternary);
}
.tech>h3, .soft>h3{
    text-align: center;
    text-decoration: underline;
    letter-spacing: 1.5px;
    margin-top: 0;
    font-weight: 700;
    color: var(--ternary);
}
.tech:hover, .soft:hover{
    background-color: var(--primary);
}
.tech:hover>h3, .soft:hover>h3{
    font-weight: 900;
    color: var(--secondary);
}

.progress-bar-container{
    margin-bottom: 20px;
}
.progress-bar-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--ternary);
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.tech:hover .progress-bar-container h2, .soft:hover .progress-bar-container h2 {
    color: var(--secondary);
}
.progress-bar {
    width: 100%;
    height: 10px;
    margin-top: 10px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    /* box-shadow: 0 0 10px #3DCFD3; */
    background-color: var(--pure);
}
.percentage {
    display: block;
    height: 100%;
    background-color: var(--primary);
    border-radius: 10px;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
.tech:hover .percentage, .soft:hover .percentage{
    background-color: var(--ternary);
}
.t1 {animation-name: t1;}

.t2 {animation-name: t2;}

.t3 {animation-name: t3;}

.t4 {animation-name: t4;}

.t5 {animation-name: t5;}

.t6 {animation-name: t6;}

@keyframes t1{
    0%{width: 0;}
    30%{width: 85%;}
    100%{width: 85%;}
}
@keyframes t2{
    0%{width: 0;}
    30%{width: 75%;}
    100%{width: 75%;}
}
@keyframes t3{
    0%{width: 0;}
    30%{width: 95%;}
    100%{width: 95%;}
}
@keyframes t4{
    0%{width: 0;}
    30%{width: 90%;}
    100%{width: 90%;}
}
@keyframes t5{
    0%{width: 0;}
    30%{width: 65%;}
    100%{width: 65%;}
}
@keyframes t6{
    0%{width: 0;}
    30%{width: 60%;}
    100%{width: 60%;}
}

.s1 {animation-name: s1;}

.s2 {animation-name: s2;}

.s3 {animation-name: s3;}

.s4 {animation-name: s4;}

.s5 {animation-name: s5;}

.s6 {animation-name: s6;}

@keyframes s1{
    0%{width: 0;}
    30%{width: 85%;}
    100%{width: 85%;}
}
@keyframes s2{
    0%{width: 0;}
    30%{width: 75%;}
    100%{width: 75%;}
}
@keyframes s3{
    0%{width: 0;}
    30%{width: 95%;}
    100%{width: 95%;}
}
@keyframes s4{
    0%{width: 0;}
    30%{width: 90%;}
    100%{width: 90%;}
}
@keyframes s5{
    0%{width: 0;}
    30%{width: 65%;}
    100%{width: 65%;}
}
@keyframes s6{
    0%{width: 0;}
    30%{width: 60%;}
    100%{width: 60%;}
}
.percent{
    /* visibility: hidden; */
    color: var(--ternary);
    font-weight: 700;
    animation: per 3s ease-in infinite;
}
.tech:hover .percent, .soft:hover .percent{
    color: var(--secondary);
}
@keyframes per{
    0%{opacity: 0;}
    30%{opacity: 1;}
    100%{opacity: 1;}
}

.exp-content{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:15px;
    background-color: var(--light);
}
.exp1{
    grid-column-start: 1;
    grid-column-end: 4;
    box-shadow: 0 -5px 10px 0px var(--ternary);
    padding: 10px 2% 10px 8%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.exp2{
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: 0 -5px 10px 0px var(--ternary);
    padding: 10px 2% 10px 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.exp3{
    grid-column-start: 3;
    grid-column-end: 4;
    box-shadow: 0 -5px 10px 0px var(--ternary);
    padding: 40px 5px 5px 5px;
    position: relative;
    display: flex;
    flex-direction: column;

}
.exp1 .exp-font{
    position: absolute;
    left: 3%;
    top: 43%;
    font-size: xx-large;
    color: var(--primary);
}
.exp2 .exp-font{
    position: absolute;
    left: 3.5%;
    top: 43%;
    font-size: xx-large;
    color: var(--primary);
}
.exp3 .exp-font{
    position: absolute;
    left: 43%;
    top: 10px;
    font-size: x-large;
    color: var(--primary);
}
.exp1:hover, .exp2:hover, .exp3:hover{
    background-color: var(--primary);
    color: var(--pure);
}
.exp1:hover .exp-font, .exp2:hover .exp-font, .exp3:hover .exp-font{
    color: var(--pure);
}
.exp-content h2, .exp-content h3, .exp-content p, .exp-content h4, .exp-content h5{
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}
.cert-content{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.cert-main{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--light);
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 25% 100%, 0 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 1% 10px 25%;
    position: relative;
}
.cert-main .cert-font{
    position: absolute;
    left: 13%;
    top: 38%;
    font-size: xx-large;
    color: var(--primary)
 }
.cert-main h2, .cert-main h4, .cert-main p{
    text-align: center;
    margin: 0;
    padding: 0;
}
.cert-main:hover{
    background-color: var(--primary);
    transition: 1s;
}
.cert-main:hover h2, .cert-main:hover h4, .cert-main:hover p{
    color: var(--pure);
}
.cert-main:hover .cert-font{
    color: var(--pure);
}
.contact-div{
    background-color: var(--light);
    padding: 40px 7% 40px 7%;
    box-shadow: 0 8px 30px 30px gainsboro;
    width: 100%;
    margin-top: 30px;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 5%;
}
.mob, .mail{
    width: 100%;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}
.social-con{
    width: 100%;
    padding: 30px 0;
    text-align: center;
}
.contact h4, .contact p{
    padding: 0;
    margin: 0;
}
small{
    color: rgb(77, 76, 76);
    font-size: small;
}
.con-font{
    font-size: 50px;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--dark);
}
.social-con h4{
    text-align: center;
    margin-top: 20px;
}


.social-con .con-font{
    margin-bottom: 0;
    font-size: 35px;
}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 10% 0 10%;
}
.form input:nth-of-type(3){
    grid-column-start: 1;
    grid-column-end: 3;
}
.form input:nth-of-type(4){
    grid-column-start: 1;
    grid-column-end: 3;
}
.form textarea{
    grid-column-start: 1;
    grid-column-end: 3;
}
.form input, .form textarea{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--light);
    box-shadow: 1px 2px 4px 1px var(--ternary);
}
.form input:focus, .form textarea:focus{
    border: 2px solid var(--primary);
    box-shadow: 1px 2px 4px 1px var(--primary);
}
.form-btn{
    width: 24%;
    margin-left: 38%;
    padding: 10px 0;
    outline: none;
    border: none;
    background-color: var(--primary);
    margin-top: 25px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
}
.form-btn:hover{
    background-color: var(--dark);
    color: var(--primary);
    font-weight: 600;
    transition: 0.5s;
}
.copyright{
    padding: 30px;
    width: 100%;
    background-color: var(--dark);
    color: var(--primary);
    text-align: center;
    margin: auto;
}



