:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}
@media screen and (max-width: 1200px) {
    .about-me-container{
        padding: 70px;
    }
    .about-me-img{
        width: 90%;
    }
    .about-me-img img{
        width: 60%;
    }
    .about-me-heading{
        margin: 0;
    }
    /* .about-me , ol{
        padding-right: 50px;
    } */
    .resume-outer{
        padding: 40px 80px;
    }
    .edu, .skill, .exp, .cert{
        font-size: 20px;
    }

    .ssc,.hsc,.ug, .edu-font{
        font-size: 20px;
    }
    .ssc-con h3, .hsc-con h3, .ug-con h3{
        font-size: 18px;
        font-weight: 600;
    }
    .ssc-con h2, .hsc-con h2, .ug-con h2{
        font-size: 21px;
        font-weight: 700;
        margin: 5px 0;
    }
    .progress-bar-container {
        margin-bottom: 17px;
    }
    .progress-bar-container h2{
        margin-bottom: 3px;
        font-size: 13.5px;
    }
    .progress-bar {
        height: 7px;
        margin-top: 6px;
        border-radius: 7px;
    }
    .exp1 .exp-font{
        left: 3%;
        top: 43%;
        font-size: x-large;
    }
    .exp2 .exp-font{
        left: 3.5%;
        top: 43%;
        font-size: x-large;
    }
    .exp3 .exp-font{
        left: 43%;
        top: 10px;
        font-size: large;
    }
    .exp1 h2{
        font-size: 22px;
    } 
    .exp1 h3{
        font-size: 18px;
    } 
    .exp1 p{
        font-size: 15px;
    }
    .exp2 h3{
        font-size: 18px;
    } 
    .exp2 h4{
        font-size: 15px;
    } 
    .exp2 p{
        font-size: 12px;
    }
    .exp3 h4{
        font-size: 15px;
    } 
    .exp3 h5{
        font-size: 11px;
    } 
    .exp3 p{
        font-size: 8px;
    }
    .cert-main .cert-font{
        font-size: x-large;
     }
     .cert-main h2{
        font-size: 23px;
     } 
     .cert-main h4 {
        font-size: 18px;
        color: var(--ternary);
     }
     .cert-main p{
        font-size: 15px;
     }
     .video-inner iframe{
        height: 300px;
    }

}

@media screen and (max-width: 1000px) {

    .top{
        width: 40px;
        height: 40px;
    }
    .navbar{
        grid-template-columns: 1fr 3fr 1fr;
    }
    .top-container{    
        padding: 10px 1% 80px 1%;
        grid-gap:15px;
    }
    .navbar>ul li a{
        font-size: 14px;
    }
    .navbar>ul li a:hover{
        font-size: 16px;
    }
    .nav-img span{
        font-size: 12px;
    }
    .nav-img{
        padding-left: 0;
    }
    .btn{
        width: 70%;
        margin: 0 10%;
        font-size: 12px;
        padding: 7px 13px;
    }
    .btn:hover{
        font-size: 13px;
    }
    .main-img{
        padding: 20px 0;
    }
    /* .main-img img{
        width: 80%;
    } */
    .mainFrame{
        width: 80%;
        height: 60%;
    }
    .header-right{
        padding: 20px 0;
    }
    .welcome-world{
        font-size: 12px;
        padding-top: 0;
    }
    .header-right>h1{
        font-size: 38px;
        margin-bottom: 7px;
    }
    .single-a{
        font-size: 14px;
    }
    .developer,.ui,.coder{
        font-size: 14px; 
    }
    .head-content{
        padding-top: 15px;
        padding-right: 50px;
        font-size: 13px;
    }
    .btn-dload{
        margin-top: 25px;
        padding: 12px 15px;
        font-size: 11px;
    }
    .btn-dload:hover{
        font-size: 12px;
        font-weight: 600;
    }
    .about-me-container{
        grid-gap:25px;    
    }
    .about-me-img{
        width: 100%;
    }
    .about-me-heading{
        font-size: 28px;
        font-weight: 700;
    }
    .about-me , ol{
        padding-right: 0px;
    }
    .about-me h2{
        font-size: 20px;
        font-weight: 600;
        margin: 5px 0;
    }
    .about-me p, ol{
        padding-top: 8px;
        padding-right: 0px;
        font-size: 13px;
    }
    .social{
        width: 28%;
    }
    .fb,.ig,.ld{
        clip-path: circle(40% at 50% 50%);
        font-size: 15px;
    }
    .portfolio{
        padding: 40px 3% 40px 3%;
    }
    .pf-outer{
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: auto auto; */
        padding-bottom: 10px;
    }
    .freelancer-div{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 85%, 0 100%);
        padding: 40px 0 80px 0;
    }
    .freelancer-div h1{
        font-size: 26px;
    }
    .freelancer-div h3{
        font-size: 18px;
    }
    .fl-button-div{
        width: 80%;
        margin-left: 10%;
        padding: 30px 0;
    }
    .fl-btn1, .fl-btn2{
        padding: 12px 25px;
        font-size: 16px;
        font-weight: 600;
    }
    .resume-outer{
        padding: 40px 50px;
    }
    .edu, .skill, .exp, .cert{
        padding: 25px 0;
        font-size: 17px;
    }
    .ssc,.hsc,.ug, .edu-font{
        font-size: 18px;
    }
    .ssc-con h3, .hsc-con h3, .ug-con h3{
        font-size: 16px;
        font-weight: 600;
    }
    .ssc-con h2, .hsc-con h2, .ug-con h2{
        font-size: 18px;
        font-weight: 700;
        margin: 5px 0;
    }
    .tech>h3, .soft>h3{
        font-size: 16px;
    }
    .progress-bar-container {
        margin-bottom: 15px;
    }
    .progress-bar-container h2{
        margin-bottom: 3px;
        font-size: 12px;
    }
    .progress-bar {
        height: 5px;
        margin-top: 4px;
        border-radius: 5px;
    }
    .exp1 .exp-font{
        font-size: large;
    }
    .exp2 .exp-font{
        font-size: large;
    }
    .exp3 .exp-font{
        font-size: medium;
    }
    .exp1 h2{
        font-size: 20px;
    } 
    .exp1 h3{
        font-size: 16px;
    } 
    .exp1 p{
        font-size: 13px;
    }
    .exp2 h3{
        font-size: 16px;
    } 
    .exp2 h4{
        font-size: 13px;
    } 
    .exp2 p{
        font-size: 11px;
    }
    .exp3 h4{
        font-size: 13px;
    } 
    .exp3 h5{
        font-size: 9px;
    } 
    .exp3 p{
        font-size: 7px;
    }
    .cert-main .cert-font{
        font-size: large;
     }
     .cert-main h2{
        font-size: 21px;
     } 
     .cert-main h4 {
        font-size: 17px;
        color: var(--ternary);
     }
     .cert-main p{
        font-size: 14px;
     }
     .contact{
        padding: 15px 5%;
    }
    .con-font{
        font-size: 40px;
        margin-bottom: 15px;
    }
    .social-con{
        padding: 20px 0;
    }
    .social-con h4{
        margin-top: 15px;
    }   
    .social-con .con-font{
        font-size: 30px;
    }
    .form{
        padding: 10px 10% 0 10%;
    }
    .form-btn{
        width: 30%;
        margin-left: 35%;
        font-size: 16px;
    }
    .copyright{
        padding: 20px;
        font-size: 15px;
    }
    .video-inner iframe{
        height: 200px;
    }
}

@media screen and (max-width: 800px) {


    .top{
        width: 35px;
        height: 35px;
        font-size: 10px;
    }
    .top-container{
        padding-bottom: 60px;
    }
    .navbar>ul li a{
        font-size: 12px;
    }
    .navbar>ul li a:hover{
        font-size: 14px;
    }
    .nav-img span{
        font-size: 10px;
    }
    .btn{
        padding: 5px 10px;
        font-size: 11px;
    }
    .btn:hover{
        font-size: 12px;
    }
    .main-img{
        padding: 10px 0;
    }
    /* .main-img img{
        width: 80%;
    } */
    .mainFrame{
        width: 80%;
        height: 60%;
    }
    .header-right{
        padding: 10px 0;
    }
    .welcome-world{
        font-size: 10px;
        padding-top: 0;
    }
    .header-right>h1{
        font-size: 32px;
        margin-bottom: 7px;
    }
    .single-a{
        font-size: 11px;
    }
    .developer,.ui,.coder{
        font-size: 11px; 
    }
    .head-content{
        padding-top: 12px;
        padding-right: 40px;
        font-size: 12px;
    }
    .btn-dload{
        margin-top: 18px;
        padding: 10px 12px;
        font-size: 9px;
    }
    .btn-dload:hover{
        font-size: 10px;
        font-weight: 500;
    }
    .about-me-container{
        padding: 50px 70px;
        grid-gap:15px;    
    }
    .about-me , ol{
        padding-right: 0px;
    }
    .about-me-img{
        width: 100%;
    }
    .about-me-img img{
        width: 80%;
    }
    .about-me-heading{
        font-size: 25px;
    }
    .about-me h2{
        font-size: 18px;
    }
    .about-me p, ol{
        padding-top: 8px;
        padding-right: 10px;
        font-size: 11px;
    }
    .social{
        width: 32%;
    }
    .portfolio-heading, .resume-heading, .contact-heading, .video-heading{
        font-size: 24px;
        font-weight: 700;
    }
    .portfolio h2, .resume-outer h2, .contact-div h2, .video-heading h2{
        font-size: 21px;
        font-weight: 600;
    }

    .font-div{
        width: 20%;
        padding: 8px 0;
        font-size: 25px;
        left: 37%;
        top: -28px;
    }
    .pf h3{
        margin-top: 35px;
        font-size: 18px;
        font-weight: 600;
    }
    .pf p{
        font-size: 15px;
    }
    .freelancer-div{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 0 100%);
        padding: 40px 0 70px 0;
    }
    .freelancer-div h1{
        font-size: 22px;
    }
    .freelancer-div h3{
        font-size: 15px;
    }
    .fl-btn1, .fl-btn2{
        padding: 10px 20px;
        font-size: 13px;
        font-weight: 600;
    }
    .resume-outer{
        padding: 40px 50px;
    }
    .resume-main{
        grid-template-columns: 1fr;
        grid-gap:50px;
    }
    .edu, .skill, .exp, .cert{
        padding: 25px 0;
        font-size: 20px;
    }
    .ssc,.hsc,.ug, .edu-font{
        font-size: 19px;
    }
    .tech>h3, .soft>h3{
        font-size: 18px;
    }
    .progress-bar-container {
        margin-bottom: 17px;
    }
    .progress-bar-container h2{
        margin-bottom: 5px;
        font-size: 13px;
    }
    .progress-bar {
        height: 5px;
        margin-top: 4px;
        border-radius: 5px;
    }
    .contact-div{
        padding: 40px 5% 40px 5%;
    }
    .contact{
        padding: 15px 2%;
    }
    .mob, .mail{
        padding: 15px 0;
    }
    .social-con{
        padding: 25px 0;
    }
    .con-font{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .social-con h4{
        margin-top: 10px;
    }   
    .social-con .con-font{
        font-size: 25px;
    }
    .form{
        padding: 10px 6% 0 6%;
    }
    .form input, .form textarea{
        margin: 7px;
        padding: 7px;
    }
    .form-btn{
        width: 30%;
        margin-left: 35%;
        font-size: 14px;
    }
    .copyright{
        padding: 15px;
        font-size: 13px;
    }
    .video-inner{
        padding: 30px 10px;
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
    .video-inner iframe{
        height: 300px;
        width: 80%;
    }
}

@media screen and (max-width: 640px) {

    .top{
        width: 30px;
        height: 30px;
        font-size: 9px;
    }
    .top-container{    
        padding-bottom: 50px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 92%, 0 100%);
    }    

    .nav-img>img{
        border: 1px solid white;
    }
    
    .navbar>ul li a{
        font-size: 8px;
    }
    .navbar>ul li a:hover{
        font-size: 9px;
    }
    .nav-img span{
        font-size: 7px;
    }
    .btn{
        padding: 5px 7px;
        font-size: 8px;
    }
    .btn:hover{
        font-size: 10px;
    }
    .main-img{
        padding: 0;
    }
    /* .main-img img{
        width: 90%;
    } */
    .mainFrame{
        width: 90%;
        height: 60%;
    }
    .header-right{
        padding: 0;
    }
    .welcome-world{
        font-size: 8px;
        padding-top: 5px;
    }
    .header-right>h1{
        font-size: 24px;
        margin-bottom: 0;
    }
    .single-a{
        font-size: 8px;
    }
    .developer,.ui,.coder{
        font-size: 8px; 
    }
    .head-content{
        padding-top: 5px;
        padding-right: 25px;
        font-size: 8px;
    }
    .btn-dload{
        margin-top: 14px;
        padding: 7px 10px;
        font-size: 7px;
    }
    .btn-dload:hover{
        font-size: 8px;
        font-weight: 500;
    }
    .about-me-container{
        padding: 50px;
        grid-gap:10px;    
    }
    .about-me , ol{
        padding-right: 0px;
    }
    .about-me-heading{
        font-size: 20px;
    }
    .about-me h2{
        font-size: 13px;
    }
    .about-me p, ol{
        padding-top: 5px;
        padding-right: 10;
        font-size: 7px;
    }
    .social{
        width: 35%;
    }
    .fb,.ig,.ld{
        clip-path: circle(35% at 50% 50%);
        font-size: 10px;
    }
    .portfolio{
        padding-top: 25px;
    }
    .portfolio-heading, .resume-heading, .contact-heading, .video-heading{
        font-size: 20px;
        font-weight: 700;
    }
    .portfolio h2, .resume-outer h2, .contact-div h2, .video-heading h2{
        font-size: 17px;
        font-weight: 600;
    }

    .font-div{
        width: 20%;
        padding: 8px 0;
        font-size: 18px;
        top: -21px;
    }
    .pf h3{
        margin-top: 25px;
        font-size: 14px;
        font-weight: 600;
    }
    .pf p{
        font-size: 9px;
    }
    .freelancer-div{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 0 100%);
        padding: 20px 0 40px 0;
    }
    .freelancer-div h1{
        font-size: 16px;
    }
    .freelancer-div h3{
        font-size: 11px;
    }
    .fl-button-div{
        padding: 20px 0;
    }
    .fl-btn1, .fl-btn2{
        padding: 7px 15px;
        font-size: 10px;
        font-weight: 500;
    }
    .resume-outer{
        padding: 40px 7%;
    }
    .resume-main{
        padding: 15px 1%;
    }
    .edu, .skill, .exp, .cert{
        padding: 20px 0;
        font-size: 17px;
    }
    .ssc,.hsc,.ug, .edu-font{
        font-size: 17px;
    }
    .ssc-con h3, .hsc-con h3, .ug-con h3{
        font-size: 13px;
        font-weight: 600;
    }
    .ssc-con h2, .hsc-con h2, .ug-con h2{
        font-size: 16px;
        font-weight: 700;
        margin: 5px 0;
    }
    .ssc-con p, .hsc-con p, .ug-con p{
        font-size: 9px;
    }
    .skill-content{
        column-gap: 12px;
    }
    .tech, .soft{
        padding: 7px 10px;
    }
    .tech>h3, .soft>h3{
        font-size: 12px;
    }
    .progress-bar-container {
        margin-bottom: 16px;
    }
    .progress-bar-container h2{
        margin-bottom: 3px;
        font-size: 8px;
        letter-spacing: 2px;
    }
    .exp3{
        padding-top: 30px;
    }
    .exp1 .exp-font{
        font-size: medium;
    }
    .exp2 .exp-font{
        font-size: medium;
    }
    .exp3 .exp-font{
        font-size: small;
    }

    .exp1 h2{
        font-size: 18px;
    } 
    .exp1 h3{
        font-size: 14px;
    } 
    .exp1 p{
        font-size: 11px;
    }
    .exp2 h3{
        font-size: 14px;
    } 
    .exp2 h4{
        font-size: 11px;
    } 
    .exp2 p{
        font-size: 9px;
    }
    .exp3 h4{
        font-size: 11px;
    } 
    .exp3 h5{
        font-size: 8px;
    } 
    .exp3 p{
        font-size: 6px;
    }
    .cert-main .cert-font{
        font-size: medium;
     }
     .cert-main h2{
        font-size: 18px;
     } 
     .cert-main h4 {
        font-size: 14px;
     }
     .cert-main p{
        font-size: 11px;
     }
    .contact{
        padding: 10px 1%;
    }
    .contact-div{
        padding-bottom: 25px;
    }
    .mob, .mail{
        padding: 10px 0;
    }
    .social-con{
        padding: 20px 0;
    }
    .con-font{
        font-size: 22px;
        margin-bottom: 5px;
    }
    .contact h4{
        font-size: 13px;
    } 
    .contact p{
        margin-top: -10px;
    }
    .contact small{
        font-size: 10px;
    }
    .social-con h4{
        margin-top: 5px;
    }   
    .social-con .con-font{
        font-size: 17px;
    }
    .form{
        padding: 7px 2.5% 0 2.5%;
    }
    .form input, .form textarea{
        margin: 5px;
        padding: 5px;
    }
    .form-btn{
        width: 36%;
        margin-left: 32%;
        font-size: 11px;
        margin-top: 15px;
    }
    .copyright{
        padding: 10px;
        font-size: 11px;
    }
    .sessions{
        height: 125px;
    }
    .video-inner{
        padding: 20px 10px;
        grid-gap: 30px;
    }
    .video-inner iframe{
        height: 200px;
        width: 85%;
    }
    
}

@media screen and (max-width: 450px) {
  
    .top{
        width: 25px;
        height: 25px;
        font-size: 8px;
    }
    .top-container{    
        padding-bottom: 30px;
        grid-gap:0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 95%, 0 100%);
    }
    .navbar{
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }
    .navbar>ul, .btn-div{
        display: none;
    }
    .nav-img{
        display: none;
    }
    .nav-img1{
        width: 100%;
        padding: 10px;
        margin: 0;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .nav-img1>img{
        width: 50%;
        border: 2px solid white;
        border-radius: 50%;
        justify-self: end;
        align-self: center;
    }   
    .nav-img1 span{
        font-size: 14px;
        padding-left: 5px;
        color: var(--light);
        justify-self: start;
        align-self: center;
    }
    .menu{
        display: flex;
        width: 28%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 25%;
        padding: 10px 0;
        border: 1px solid var(--ternary);
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .menu i{
        color: var(--light);
        font-size: 24px;

    }
    .header{
        grid-template-columns: 1fr;
        grid-gap:5px;
    }
    .main-img{
        padding: 20px 0;
        grid-template-columns: 1fr;
    }
    .mainFrame{
        width: 70%;
        height: 90%;
        margin-top: 10px;
    }

    .header-right{
        padding: 0 8% 20px 8%;
    }
    .welcome-world1{
        display: block;
        font-weight: 500;
        font-size: 14px;
        padding-top: 0;
        text-align: center;
        margin: 0;
    }
    .welcome-world{
        display: none;
    }
    .header-right>h1{
        font-size: 23px;
        font-weight: 700;
        text-align: center;
    }
    .sub-head{
        text-align: center;
    }
    .single-a{
        font-size: 9px;
        font-weight: 500;
        padding-right: 5px;
    }
    .developer,.ui,.coder{
        font-size: 9px;
        font-weight: 500; 
    }
    .head-content{
        padding-top: 10px;
        padding-right: 0px;
        font-size: 9px;
    }
    .btn-dload{
        margin-top: 20px;
        padding: 10px 12px;
        font-size: 7px;
    }
    .btn-dload:hover{
        font-size: 8px;
        font-weight: 600;
        transition: 0.5s;
    }
    .about-me-container{
        padding: 50px 10%;
        grid-template-columns: 1fr;
        grid-gap:15px;   
    }
    .about-me , ol{
        padding-right: 0;
    }
    .about-me-img{
        width: 70%;
    }
    .about-me-img img{
        width: 80%;
    }
    .about-me-heading{
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    .about-me h2{
        font-size: 13px;
        font-weight: 600;
        text-align: center;
    }
    .about-me p, ol{
        padding-right: 0px;
        font-size: 9px;
    }
    .social{
        width: 30%;
    }
    .fb,.ig,.ld{
        clip-path: circle(34% at 50% 50%);
        padding: 7px;
        font-size: 7px;
    }
    .portfolio{
        padding: 25px 30px;
    }

    .portfolio-heading, .resume-heading, .contact-heading, .video-heading{
        font-size: 14px;
        font-weight: 700;
    }
    .portfolio h2, .resume-outer h2, .contact-div h2, .video-heading h2{
        font-size: 13px;
        font-weight: 600;
    }
    .pf-outer{
        grid-template-columns: 1fr;
        /* grid-template-rows: auto; */
        padding-bottom: 20px;
    }
    .font-div{
        width: 20%;
        padding: 10px 0;
        font-size: 17px;
        left: 37%;
        top: -25px;
    }
    .pf h3{
        margin-top: 35px;
        font-size: 17px;
        font-weight: 600;
    }
    .pf p{
        font-size: 11px;
    }
    .freelancer-div{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 93%, 0 100%);
        padding: 15px 0 30px 0;
    }
    .freelancer-div h1{
        font-size: 14px;
    }
    .freelancer-div h3{
        font-size: 10px;
    }
    .fl-button-div{
        padding: 10px 0;
    }
    .fl-btn1, .fl-btn2{
        padding: 5px 10px;
        font-size: 7px;
        font-weight: 500;
    }
    .fl-btn2{
        border: 1px solid var(--primary);
    }
    .resume-outer{
        padding: 30px 8% 30px 8%;
    }
    .resume-main{
        padding: 15px 1%;
    }
    .edu, .skill, .exp, .cert{
        padding: 15px 0;
        font-size: 13px;
    }
    .ssc,.hsc,.ug, .edu-font{
        font-size: 14px;
    }
    .ssc-con h3, .hsc-con h3, .ug-con h3{
        font-size: 11px;
    }
    .ssc-con h2, .hsc-con h2, .ug-con h2{
        font-size: 13px;
    }
    .ssc-con p, .hsc-con p, .ug-con p{
        font-size: 7px;
    }
    .skill-content{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .tech>h3, .soft>h3{
        font-size: 12px;
    }
    .progress-bar-container {
        margin-bottom: 12px;
    }
    .progress-bar-container h2{
        margin-bottom: 3px;
        font-size: 6px;
        letter-spacing: 2px;
    }
    .progress-bar {
        width: 100%;
        height: 4px;
        border-radius: 4px;
    }
    .exp-content{
        grid-template-columns: 1fr;
        grid-gap:15px;
    }
    .exp1{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .exp2{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .exp3{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .exp1 .exp-font, .exp2 .exp-font, .exp3 .exp-font{
        left: 3%;
        top: 43%;
        font-size: small;
    }
    .exp1, .exp2, .exp3{
        padding: 10px 2% 10px 8%;
    }
    .exp1 h2{
        font-size: 13px;
    } 
    .exp1 h3{
        font-size: 9px;
    } 
    .exp1 p{
        font-size: 7px;
    }
    .exp2 h3{
        font-size: 13px;
    } 
    .exp2 h4{
        font-size: 9px;
    } 
    .exp2 p{
        font-size: 7px;
    }
    .exp3 h4{
        font-size: 13px;
    } 
    .exp3 h5{
        font-size: 9px;
    } 
    .exp3 p{
        font-size: 7px;
    }
    .cert-main .cert-font{
        font-size: small;
     }
     .cert-main h2{
        font-size: 13px;
     } 
     .cert-main h4 {
        font-size: 10px;
     }
     .cert-main p{
        font-size: 7px;
     }
     .contact-div{
        padding: 30px 6% 15px 6%;
     }
     .contact{
        padding: 5px 1%;
    }
    .mob, .mail{
        padding: 5px 0;
    }
    .social-con{
        padding: 0px 0;
    }
    .con-font{
        font-size: 15px;
        margin-bottom: 5px;
    }
    .contact h4{
        font-size: 9px;
    } 
    .contact p{
        margin-top: -12px;
    }
    .contact small{
        font-size: 5px;
    }
    .social-con h4{
        margin-top: 0px;
    }   
    .social-con .con-font{
        font-size: 12px;
    }
    .form{
        grid-template-columns: 1fr;
        padding: 7px 7% 0 7%;
    }
    .form input:nth-of-type(3){
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .form input:nth-of-type(4){
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .form textarea{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .form input, .form textarea{
        margin: 5px;
        padding: 5px;
        border-radius: 3px;
    }
    .form input:focus, .form textarea:focus{
        border: 1px solid var(--primary);
    }
    .form-btn{
        width: 36%;
        margin-left: 32%;
        font-size: 7px;
        margin-top: 10px;
    }
    .copyright{
        padding: 5px;
        font-size: 7px;
    }
    .sessions{
        height: 150px;
    }
    .video-inner{
        padding: 5px 10px;
        grid-gap: 15px;
    }
    .video-inner iframe{
        height: 100px;
        width: 100%;
    }
    .video-outer{
        padding: 20px 8%;
    }
}
